.banner{
    color: var(--branco);
    text-align: center;    
    background-image: var(--azul-degrade);
    padding: 32px 24px;
}

.banner__titulo{
    font-family: var(--font-principal);
    font-size: 18px;
    font-weight: 700;
}

.banner__texto{
    font-family: var(--font-principal);
    font-weight: 500;
    margin: 1rem 0;
}

.banner__pesquisa{
    font-family: var(--font-principal);
    background-color: transparent;
    border: 1px solid var(--branco);
    border-radius: 24px;
    padding: 10px 24px;
    width: 100%;
}

.banner__pesquisa::placeholder{
    color: var(--branco);
    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    background: url("../img/Pesquisa.svg") no-repeat;
    background-position: 0.5em;    
}