.cabecalho__menu-hamburguer{
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    margin-right: 20px;
}


.cabecalho{
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 24px;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

/*MENU HAMBURGUER*/

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 65vw;
    left: 0;
}

.container__botao{
    display: none;
}
.container__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu__titulo, .lista-menu__item{
    font-family: var(--font-principal);
    padding: 1rem;
    background-color: var(--branco);
}

.lista-menu__titulo{
    font-weight: 700;
    color: var(--laranja);

}

.lista-menu__link{
    text-decoration: none;
    text-transform: uppercase;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}

.container__titulo{
    display: none;
}

.opcoes{
    display: none;
}

.container__texto{
    display: none;
}


/*MEDIA QUERIES*/
@media screen and (min-width: 1024px) {
    .container__titulo,
    .container__titulo--negrito{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 30px;
    }

    .container__titulo{
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito{
        font-weight: 700
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 1rem;
        text-transform: uppercase;
        font-family: var(--font-principal);
    }

    .opcoes__link{
        font-family: var(--font-principal);
        text-decoration: none;
        color: #000000;
    }

    .container__imagem--transparente{
        display: none;
    }

    .cabecalho__menu-hamburguer{
        display: none;
    }

}


@media screen and (min-width: 1728px) {
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #000000;
    }

    .cabecalho{
        padding: 1em 2em;
    }

    .opcoes{
        margin-right: auto;
    }

    .container__texto{
        display: block;
    }
}