.cabecalho__menu-hamburguer{
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    margin-right: 20px;
}


.cabecalho{
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 24px;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

/*MENU HAMBURGUER*/

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 65vw;
    left: 0;
}

.container__botao{
    display: none;
}
.container__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu__titulo, .lista-menu__item{
    font-family: var(--font-principal);
    padding: 1rem;
    background-color: var(--branco);
}

.lista-menu__titulo{
    font-weight: 700;
    color: var(--laranja);

}

.lista-menu__link{
    text-decoration: none;
    text-transform: uppercase;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}


